<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="carritos.css">
        <title>Document</title>
    </head>
    <body>
        <div class="leftBar">
            <p id="titleCamp">CampusShop</p>
            <div id="leftBarContent">
                <a href="index.html"><p>Todos los productos</p></a>
                <a href="abrigos.html"><p>Abrigos</p></a>
                <a href="camisetas.html"><p>Camisetas</p></a>
                <a href="pantalones.html"><p>Pantalones</p></a>
                <p id="carrito">Carritos</p>
            </div>
        </div>
        <div class="mainSquare">
            <p id="mainTitle">Carrito</p>
            <div class="itemsInto">
                <div class="items">
                    <img class="images" src="https://http2.mlstatic.com/D_NQ_NP_2X_930447-MCO71410142210_092023-F.webp" alt="">
                </div>
                <div class="items">
                    <p>Nombre</p>
                    <p>Chaqueta Impermeable En Gabán Para Dama 'Blanco'</p>
                </div>
                <div class="items">
                    <p>Cantidad</p>
                    <p>2</p>
                </div>
                <div class="items">
                    <p>Precio</p>
                    <p>93900</p>
                </div>
                <div class="items">
                    <p>Subtotal</p>
                    <p>187800</p>
                </div>
            </div>

            <div class="itemsInto">
                <div class="items">
                    <img class="images" src="https://http2.mlstatic.com/D_NQ_NP_2X_731406-MCO42646277112_072020-F.webp" alt="">
                </div>
                <div class="items">
                    <p>Nombre</p>
                    <p>Pantalon En Dril Licrado Para Hombre.</p>
                </div>
                <div class="items">
                    <p>Cantidad</p>
                    <p>2</p>
                </div>
                <div class="items">
                    <p>Precio</p>
                    <p>58900</p>
                </div>
                <div class="items">
                    <p>Subtotal</p>
                    <p>117800</p>
                </div>
            </div>

            <div class="itemsInto">
                <div class="items">
                    <img class="images" src="https://http2.mlstatic.com/D_NQ_NP_2X_776916-MCO72088562654_102023-F.webp" alt="">
                </div>
                <div class="items">
                    <p>Nombre</p>
                    <p>Camisetas Bandas De Rock Metal Heavy Riffs.</p>
                </div>
                <div class="items">
                    <p>Cantidad</p>
                    <p>1</p>
                </div>
                <div class="items">
                    <p>Precio</p>
                    <p>32850</p>
                </div>
                <div class="items">
                    <p>Subtotal</p>
                    <p>65700</p>
                </div>
            </div>

            <div id="fin">
                <button id="Vaciar">Vaciar carrito</button>

                <div id="total">
                    <p>Total</p>
                    <p>371300</p>
                </div>
                
            </div>

            <div id="miniButton">
                <button id="Comprar">Comprar ahora</button>
            </div>

        </div>
        <p id="credits">Ⓒ 2023 Camper</p>
    </body>
</html>