<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="carritos.css">
        <title>Document</title>
    </head>
    <body>
        <div class="leftBar">
            <p id="titleCamp">CampusShop</p>
            <div id="leftBarContent">
                <a href="index.html"><p>Todos los productos</p></a>
                <a href="abrigos.html"><p>Abrigos</p></a>
                <a href="camisetas.html"><p>Camisetas</p></a>
                <a href="pantalones.html"><p>Pantalones</p></a>
                <p id="carrito">Carritos</p>
            </div>
        </div>
        <p id="credits">Ⓒ 2023 Camper</p>
    </body>
</html>