<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="abrigos.css">
        <title>Document</title>
    </head>
    <body>
        <div class="leftBar">
            <p id="titleCamp">CampusShop</p>
            <div id="leftBarContent">
                <a href="index.html"><p>Todos los productos</p></a>
                <a href="abrigos.html"><p>Abrigos</p></a>
                <a href="camisetas.html"><p>Camisetas</p></a>
                <p>Pantalones</p>
                <a href="carritos.html"><p id="carrito">Carritos</p></a>
            </div>
        </div>
        <div class="mainSquare">
            <p id="mainTitle">Pantalones</p>
            <div class="itemsInto">
                <div class="items">
                    <img class="images" src="https://http2.mlstatic.com/D_NQ_NP_2X_731406-MCO42646277112_072020-F.webp" alt="">
                    <div class="description">
                        <p>Pantalon En Dril Licrado Para Hombre.</p>
                        <p>$ 58900</p>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="items">
                    <img class="images" src="https://http2.mlstatic.com/D_NQ_NP_2X_795748-MCO70527773883_072023-F.webp" alt="">
                    <div class="description">
                        <p>Pantalón Camuflado Hermoso.</p>
                        <p>$ 104405</p>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="items">
                    <img class="images" src="https://http2.mlstatic.com/D_NQ_NP_2X_758206-MCO70501309390_072023-F.webp" alt="">
                    <div class="description">
                        <p>Pantalón Jogger Cargo, Táctico, Militar.</p>
                        <p>$ 104500</p>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="items">
                    <img class="images" src="https://http2.mlstatic.com/D_NQ_NP_2X_947436-MCO69626235546_052023-F.webp" alt="">
                    <div class="description">
                        <p>Pantalón Jeans De Colores Entubado Para Hombre.</p>
                        <p>$ 61750</p>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
            <div class="itemsInto">
                <div class="items">
                    <img class="images" src="https://http2.mlstatic.com/D_NQ_NP_2X_618657-MCO69523195685_052023-F.webp" alt="">
                    <div class="description">
                        <p>Pantalon Camuflado, De Bolsillos 100% Dreal</p>
                        <p>$ 89990</p>
                        <button>Agregar</button>
                    </div>
                </div>
            </div>
        </div>
        <p id="credits">Ⓒ 2023 Camper</p>
    </body>
</html>